################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#Tasks_Methods_Section/.vs
/.vs/C-/v17
/.vs
/C#TASKS(Methods,List,LINQ,LinkedList)/C#Tasks_Methods_Section/.vs
