################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#Tasks_Methods_Section/.vs
/.vs/C-/v17
/.vs
/C#TASKS(Methods,List,LINQ,LinkedList)/C#Tasks_Methods_Section/.vs
/C#(Array,String,Loops)/.vs
/C#Tasks_Methods_Section_Advanced Logic Tasks (List & Array)/.vs
/C#_Tasks_Discord_Function(3)/.vs
/C#_Tasks_Discord_Function(1)/.vs
/C#Task_LOOPS/.vs
/C#_TaskArray/.vs
/C#_Tasks_Discord_Function(2)/.vs
/C#Tasks_Methods_Section_6_ThinkingTasks/.vs
/C#Tasks_Methods_Section_5_Mixed/.vs
/C#Tasks_Methods_Section_4_LINQ/.vs
/C#Tasks_Methods_Section_3_LinkedList/.vs
/C#Tasks_Methods_Section_2/.vs
